<section class="slider-banner">
    <div class="slider-content">
        <div class="w-full slider-wrapper" style="width:1050px; float:left; transform: translate(0px,0px, 0px); transition: all 0s">
            <div data-slide="0" class="slider-items" style="width: 1050px; float: left;">
                <div class="slider-items-head h-full w-full">
                    <div class="hidden img-desk">
                        <div class="slider-img-desk img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_1_0.jpg")" alt="">
                        </div>
                    </div>
                    <div class="img-mb">
                        <div class="slider-img-mb img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_1_1.jpg")" alt="">
                        </div>
                    </div>

                    <div class="slider-item-text">
                        <div class="slider-item-text-content">
                            <h2>Deck yourself up</h2>
                            <div class="slider-item-desc">
                                <p>Browse modern and vintage mirrors<br> to add a final flourish to your look.</p>
                            </div>
                            <a href="" class="btn_form btn_link">
                                Explore All Things
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-slide="1" class="slider-items" style="width: 1050px; float:left; ">

                <div class="slider-items-head h-full w-full">
                    <div class="hidden img-desk">
                        <div class="slider-img-desk img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_2_0.jpg")" alt="">
                        </div>
                    </div>
                    <div class="img-mb">
                        <div class="slider-img-mb img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_2_1.jpg")" alt="">
                        </div>
                    </div>

                    <div class="slider-item-text">
                        <div class="slider-item-text-content">
                            <h2>Deck yourself up</h2>
                            <div class="slider-item-desc">
                                <p>Browse modern and vintage mirrors<br> to add a final flourish to your look.</p>
                            </div>
                            <a href="" class="btn_form btn_link">
                                Explore All Things
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div data-slide="2" class="slider-items" style="width: 1050px; float: left;">
                <div class="slider-items-head h-full w-full">
                    <div class="hidden img-desk">
                        <div class="slider-img-desk img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_3_0.jpg")" alt="">
                        </div>
                    </div>
                    <div class="img-mb">
                        <div class="slider-img-mb img-slider">
                            <img src="@Url.Content("~/Content/images/Slider/slider_3_1.jpg")" alt="">
                        </div>
                    </div>

                    <div class="slider-item-text">
                        <div class="slider-item-text-content">
                            <h2>Deck yourself up</h2>
                            <div class="slider-item-desc">
                                <p>Browse modern and vintage mirrors<br> to add a final flourish to your look.</p>
                            </div>
                            <a href="" class="btn_form btn_link">
                                Explore All Things
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>